.bg-img {
    background-image: url("https://www.zonebowling.com/media/3526/bday-faqs.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.container {
    position: absolute;
  }
.topnav {
  width: 90vw;
}
  
  /* Navbar linkovi */
  .topnav .navi {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important; 
    font-family: 'Orbitron', courier, sans-serif;
    font-size: 17px;
  }
  
  .topnav .navi:hover {
    background-color: #ddd;
    color: black;
  }

  .button{
      background-color: rgba(180, 26, 26,1);
      color:white;
      list-style: none !important;
      font-family: 'Orbitron', courier, sans-serif;
      border:2px solid black;
      width:52vh;
      float:right;
  }
  
  .button:hover{
    color:black;
  }

  .button:focus{
    color:white
  }


nav ul li {
	list-style: none;
}


  .tekst{
	margin-top: 30%;
	font-size: 5vh;
}


/*O NAMA*/

.slika{
	background-image: url(https://i.imgur.com/4eBdmII.jpeg);
	height: 40vh;
	width: 100%;
  background-size: cover;
}

.onama{
	color: #f2f2f2;
	  text-decoration: none !important; 
    font-family: 'Orbitron', courier, sans-serif;
  font-size: 7vh;
  text-align: center;

}

/*FOOTER*/

footer {
  width: 100%;

	background-color: rgba(180, 26, 26,1);
  color: white;
  position: relative;
}

.futerSlika{
	margin: 1vh;
	float: right;
	height: 10vh;
	width: 10vh;
	
	border:2px solid black;
}


.futerino{
	font-size: 10vh;
	display:inline;
	vertical-align: middle;

}

.divizija{
	padding: 15px;
}

.linkovi1{

	font-size: 2.5vh;
	
}

/*3 KOLONE*/

img{
	width: 100%;
	height: 100%;
}

.cards_wrap{
	display: flex;
}

.card_item{
	width: 33.3%;
	padding: 10px;
}

.card_top{
	width: 100%;
	height: 45vh;
	padding: 10px;
  text-align: center;
}

.slikaTop{
  border-radius: 50%;
  width:70%;
  
}

.card_bottom{
	padding: 15px;
}

.card_info{
	padding: 15px;
	margin: 10px 0;
	border: 5px dashed rgba(180, 26, 26,1);
	height: 35vh;
}

.tekstKarta{
  font-size: 115%;
  text-align: center;
  font-family: 'Orbitron', courier, sans-serif;
  font-weight: 600;
}

.title{
	color: rgba(180, 26, 26,1);
	font-size: 200%;
	text-align: center;
  font-weight: 600;
	margin-bottom: 5px;
  font-family: 'Orbitron', courier, sans-serif;
}

/* ANIMATORI */

.animator{
  height:100%;
  width:100%;

}
.animatori{
  text-align: center;
  height:100vh;
}

.karta{
  margin:10px;
  padding:10px;
  display:inline-block;
  width:23%;
  height:98%;
}

.gornjaKarta{
  height:60%;
  margin:15px;
  padding:5px;
}

.donjaKarta{
  border: 2px solid black;
  margin:15px;
  padding:5px;
}

.donjaKartaNaslov{
  font-size: 25px;
  font-family: 'Orbitron', courier, sans-serif;
  
}
.popupKarta .overlay{
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
.popupKarta .sadrzaj{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background-color:white;
  width:700px;
  height:400px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
}
.popupKarta .zatvori{
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background-color:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popupKarta.active .overlay{
  display:block;
}

.popupKarta.active .sadrzaj{
  transition: all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

/* PRIJAVA */

.stranicaLog{
  text-align: center;
  width:100%;
  height:100vh;

}

.omotac{
  display:inline-block;
  background-color: rgba(0,0,0,0.3);
  margin:10%;
  width:200px;
  height:400px;
  border:2px solid black;
  position:relative;

}

.forma{
  margin-top:30%;
  flex-direction: column;
  display:inline-flex;
}

#dugmic{
  position:absolute;
  bottom:5%;
  left:15%;
  font-weight: 900;
  font-family: 'Orbitron', courier, sans-serif;
}

.slikaPrijava{
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/133/891/non_2x/cloud-with-sky-illustration-color-pastel-and-gradient-shade-minimal-illustration-template-for-card-website-wallpaper-kid-background-and-print-vector.jpg");
  height:100vh;
  width:100%;
  background-size: cover;
  position: relative;
}

input{
  background-color: rgba(20, 209, 51, 0.3);
}
label{
  font-weight:800;
  font-family: 'Orbitron', courier, sans-serif;
}
::placeholder{
  color:white;
  font-weight:700;
  font-family: 'Orbitron', courier, sans-serif;
}

.naslovPrijava{
  font-size: 160%;
  font-weight: 700;
  font-family: 'Orbitron', courier, sans-serif;
}


/* TABELA  */

.tabela button{
  width:50px;
  height:30px;
  margin-left:10px;
  margin-top:10px;
  border:none;
  background-color: rgba(0, 255, 128, 0.4);
}
.tabela button:hover{
  background-color: rgba(0, 255, 128, 0.6);
}
.tabela button:focus{
  background-color: rgba(0, 255, 128,1);
}

.tabela p{
  width:80px;
  margin-top: 15px;
}

/* TABELA 1 */

.tabela1 button{
  width:50px;
  height:30px;
  margin-left:10px;
  margin-top:10px;
  border:none;
  background-color: rgba(0, 255, 128, 0.4);
}
.tabela1 button:hover{
  background-color: rgba(0, 255, 128, 0.6);
}
.tabela1 button:focus{
  background-color: rgba(0, 255, 128,1);
}

.tabela1 p{
  width:80px;
  margin-top: 15px;
}

/* TABELA 2 */

.tabela2 button{
  width:50px;
  height:30px;
  margin-left:10px;
  margin-top:10px;
  border:none;
  background-color: rgba(0, 255, 128, 0.4);
}
.tabela2 button:hover{
  background-color: rgba(0, 255, 128, 0.6);
}
.tabela2 button:focus{
  background-color: rgba(0, 255, 128,1);
}

.tabela2 p{
  width:80px;
  margin-top: 15px;
}

/* TABELA 3 */

.tabela3 button{
  width:50px;
  height:30px;
  margin-left:10px;
  margin-top:10px;
  border:none;
  background-color: rgba(0, 255, 128, 0.4);
}
.tabela3 button:hover{
  background-color: rgba(0, 255, 128, 0.6);
}
.tabela3 button:focus{
  background-color: rgba(0, 255, 128,1);
}

.tabela3 p{
  width:80px;
  margin-top: 15px;
}

.naslovTabela{
  margin-left: 80px;
}
.naslovTabela p{
  width:50px;
  color:white;
  background-color: green;
  border:1px solid black;
  margin-left:10px;
}
